#contact{
  height: 100vh;
  background-color:#f8ffb2;
}
#welcome-section {
	  height: 100vh;
/*     border: 1px solid black; */
    margin-top: 40px;
    background-color:#FFBAB2;
}
h1{
  margin: auto;
  padding: 50px 0;
}
#projects{
  height: 760px;
  background-color:#ffe0b2;
  margin-top: -20px;
}
#tiles-group{
  display: flex;
  flex-wrap: wrap;
}
.project-tile{
  width: 300px;
  height: 380px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.project-tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.project-tile p {
    padding: 2px 16px;
}
.project-tile h3 , a{
    padding: 2px 16px;
}
#contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
table{
  margin-left: auto;
  margin-right: auto;
}
.getin{
  border-left: 5px solid #4a4c35;
}
.button{
  margin-left: 20px;
}
svg{
  height: 400px;
  width: 400px;
  margin: auto;
}
#welcome-heading{
  font-family: 'Alfa Slab One', cursive;
}

@media (max-width: 800px) {
  #projects{
    height: 1140px;
    margin-top: -20px;
  }
  #contact {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}