#heading{
 font-family: Pacifico;
  font-size: 200%;
}
li{
  font-size:200%;
  font-family: Pacifico;
  font-color:black;
}
p{
  font-size:200%;
}

#section1 {
  padding-top:50px;
  height:500px;
  color: #fff; 
  background-color: #00796B;
}
#section2{
 padding-top:50px;
  height:600px;
  color: #fff; 
  background-color:#80CBC4;
}
#section3{
 padding-top:50px;
  height:500px;
  color: #fff; 
  background-color:#00796B;
}
body{
  position:relative;
}
a{
  color:black;
}
h3{
  font-size:200%;
}
skills{
  bckground-color:#80CBC4;
}
footer{
position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
#footer-text{
  font-family:Pacifico;
  color:white;
}